# Dependencies
node_modules/

# Angular cache
.angular/

# Build output
dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
src/environments/environment.ts

.vercel
.env*.local
